<!DOCTYPE html>
<html>
    <head>
        <title> Mad Lib</title>
        <link rel="stylesheet" href="css/test.css">
    </head>
    <nav class="nav-bar" role="navigation">
        <div class="box"><a href="/2021spuli/getweather">Today's Weather</a></div>
        <div class="box"><a href="/2021spuli/getweekly">Weekly Weather</a></div>
        <div class="box"><a href="/2021spuli/weatherform">Find Weather</a></div>
        <div class="box"><a href="/2021spuli/madlib">Mad Lib</a></div>
        <br>
    </nav>
    <body>

        <div class="main text">
        <h1> How to Date the Coolest {{g1}} in School </h1>
                    <br>
        It's simple. Make {{g2}} want {{adv}} to date you.
        Make sure you're always dressed to {{v}}.
        Each and every day, wear a/an {{clothing}} that you know shows off
        {{bodypart}} to your advantage and make your {{noun2}} look like a million
        {{pnoun}}. Even if the two of you make meaningful {{bodypart2}} contact, don't
        admit it. Just shake {{g3}} {{bodypart2}} firmly. And
        remember, when {{g4}} asks you out, just play it {{adj2}}. Take a long
        pause before answering in a very {{adj2}} voice.
        <br>
        "I'll have to {{v2}} it over. "
        </div>
    </body>
</html>